$rose: #f9c1c8;
$darkrose: #ffa3af;
$white: #FFF;
$flag-2: #646464;
$bg-light-blue: #3f7184;
$bg-gray: #949494;  
$bg-light-gray: #f1f1f1;
$bg-light-black: #2f2e2e;

//media queries
$tablet-portrait-up: 600px;
$tablet-landscape-up: 900px;
$desktop-up: 1200px;
$big-desktop-up: 1500px;